<br>
<div class="row align-center">
  <div class="column small-8 text-center">
    <h3> Upload A Job Posting </h3>
  </div>
</div>
<br>
<div class="row align-center">
  <div class="column small-4 text-center">
    <%= render 'form' %>
  </div>
</div> 
