<h1> Your top 5 job matches </h1>
<table class="table">
  <thread>
    <tr>
      <th style="text-align: center"> Position </th>
      <th style="text-align: center"> Company </th>
      <th style="text-align: center"> Match </th>
    </tr>
  </thread>
  <tbody>
<% @tophash.each do |top| %>
  <tr>
  <td style="text-align: center">  <%=link_to top[1][1].position, top[1][1], :method=>:get %> </td>
  <td style="text-align: center"> <%= top[1][1].employer.companyName %> </td>
  <td style="text-align: center"> <%= (top[1][0]*100).to_i %>% </td>
  </tr>
<% end %>
  </tbody>
</table>
<br>
<%= button_to 'Home', root_path, :class=>"button", :method => :get %>

